.DS_Store
._.DS_Store
*.pyc
*checkpoint.ipynb
.envrc
screenlog.*
qsub_job_script*
data/
src/
t/
tmp/
bin/
sandbox/
anaconda3/
*.figures/
.Rproj.user
packrat/lib*/
.future/
code/misc_r_functions/
code/archive/
Rproj/
envs/
renv/
renv.lock
